header {
  nav {
    height: 60px;
    min-width: 200px;
    background-color: $bg-color;
    color: $txt-color2;
    display: grid;
    align-items: center;
    h1 {
      text-align: center;
    }
  }
}
