@mixin flex {
  display: flex;
  justify-content: center;
}

@mixin table-design {
  border-collapse: collapse;
  padding-bottom: 10px;
  width: 100%;
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: crimson;
    color: $txt-color2;
    font-size: 12px;
    cursor: pointer;
  }
}
