.container {
  font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  .box-container {
    @include flex;
    gap: 20px;
    padding: 50px 50px;
    .global-status,
    .selected-status {
      @include box;
      .h1-status {
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 20px;
      }
      li{
        padding: 5px;
    }
    .tbl-country{
     @include table-design;
    }
    }
    .global-status {
      display: grid;
      align-items: center;
      ul {
        padding: 40px;
      }
      li{
          padding: 5px;
      }
      .tbl-global{
        @include table-design;
      }
    }
    .selected-status {
      .txt-form {
        @include flex;
        padding: 10px;
        gap: 10px;
        .btn{
          width: 150px;
          cursor: pointer;
        }
        .txt-search {
          @include text-default;
        }
      }
    }
  }

  //Table
  .tbl-container {
    display: grid;
    justify-content: center;
    .tbl-h1 {
      text-align: center;
      padding-bottom: 20px;
    }
    .tbl-list{
     @include table-design2;
    }
  }
}

@media screen and (max-width:480px) {
  .container{
    .box-container{
     flex-direction: column;
     .tbl-global,
     .tbl-country{
      @include table-design;
     }
    }
  }
}
