.container {
  font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
  .box-container {
    @include flex;
    gap: 20px;
    padding: 50px 50px;
    .global-status {
      .h1-status {
        text-align: center;
      }
      ul {
        list-style: none;
        padding: 20px;
      }
      li{
        padding: 5px;
    }
    }
    .global-status {
      display: grid;
      align-items: center;
      .tbl-global{
        @include table-design;
      }
    }
  }

  //Table
  .tbl-container {
    display: grid;
    justify-content: center;
    .tbl-list{
     @include table-design;
    }
  }
}

@media screen and (max-width:480px) {
  .container{
  }
}
